

.nono {
    height: 100%;
    width: 100%;
}

.bakgrund {
    position: relative;
    width: 100%;
}

.txt {
    position: absolute;
            color: rgb(255, 255, 255);
            left: 18rem;
            top: 2rem;
            background-color: rgb(255, 0, 0);
            padding: 0 1rem;
}